<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Channels</title>
</head>
<body>
    <h1>Django Channels code is being written</h1>
    <h3 id="st"> starting... <h3/>

    <script>

        { var ws = new WebSocket('ws://127.0.0.1:8000/ws/asc/')

        ws.onopen = function () {
            console.log('connection is open now for communication');
            message.send('Hi,  i am client browser sending this message to you');
        }


        ws.onmessage = function (event) {
            var message = JSON.parse(event.data);
            var text = message.text;
            console.log('Message received:', text);
            document.getElementById("st").innerText = text;
        }

        ws.onerror = function (error) {
            console.log('websocekt error', error);
        }

        ws.onclose = function () {
            console.log('connection is closed ', event)
        }
        
        }


     {/* ws.addEventListener('open', (event) => { */}
            // console.log("Connection is ready for communication");
    //     });

        
    // ws.addEventListener('message', (message) => {
    //         console.log("messages are receiving");
    //     });

    // ws.addEventListener('close', (event) => {
    //         console.log("Connection is closed");
    //     });

    // ws.addEventListener('error', (event) => {
    //         console.log("some error occured");
    //     });




    </script>


</body>
</html>